:root {
  --purple: #462399;
  --lightPurple: #7d64b7;
  --black: #1c1c1c;
  --gray: #4e4e4e;
  --lightGray: #9c9c9c;
  --darktGray: #3c3c3c;
  --white: #ffffff;
  --ice: #f5f9fc;
  --green: #05ba69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}